body {
  background-color: #fe3294;
}
#bottom {
  background-color: #f1f1f1;
}
#top {
  background-color: #f1f1f1;
}
#middle {
  background-color: #f1f1f1;
}
#left {
  background-color: #f1f1f1;
}
#right {
  background-color: #f1f1f1;
}
